/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-on-surface: #000;
    --color-bg-right: #F8FAFF;
    --color-input-text: #AEB5C3;
    --color-input-text-hover: #8A94A8;
    --color-input-border: #DADFE9;
    --color-input-border-hover: #ABB5C8;
    --color-btn-primary: #2162E3;
}