@import 'mixins.scss';


.form-container {
   padding: 131px 64px; 
    max-width: 568px;
     & &__title {
         max-width: 440px;
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -0.03em;
        margin-top: 41px;
        margin-bottom: 34px
     }

     & &__wrapper {
        @include column-directon;
        max-width: 440px;
        margin: 0;
        gap: 14px
     }

     & &__wrapper-row {
      @include row-direction;
      gap: 14px
     }

     & &__wrapper-item {
        @include column-directon;  
        align-content: center;
        border: 1px solid var(--color-placeholder-text);
        border-radius: 18px;
        padding: 10px 24px;
        gap: 4px;
     }

     & &__wrapper-item--small {
      width: 117px;
     }

     & &__wrapper-item--medium {
      width: 261px;
     }

     & &__wrapper-placeholder {
        font-size: 12px;
        color:  var(--color-placeholder-text);
        line-height: 12px;
        letter-spacing: -3%;
     }

     & &__wrapper-input {
        padding: 0;
        border: none;
     }
}