/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
/// 
/// 

@import 'form.scss';
@import 'mixins.scss';
.home-page-container {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    & &__logo {
        position: relative;
        top: 64px;
        left: 64px;
        display: flex;
        flex-direction: row;
        gap: 9px;
    }

    & &__logo-title {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.3%;
        margin: 0;
    }

    & &__rightside-image {
        width: 872px;
    }


    @media (max-width: 992px) {
        max-width: 834px;
        @include column-directon-reverse;
        & &__logo {
            position: absolute;
            left: 50%;
            top: 48px;
            transform: translate(-48px) translateY(-50%);
        }

        & &__rightside {
            object-fit: scale-down;
        }
    }
}